.body {
    display: flex;
}

.bodyleft {
    width: 45%;
    margin: 2.5%;
    background-color: rgba(154, 149, 160, 0.150);
    border-radius: 6px;
}

.bodyright {
    width: 45%;
    margin: 2.5%;
    background-color: rgba(154, 149, 160, 0.150);
    border-radius: 6px;
}

.header {
    background-color: rgb(67, 67, 82);
    color: white;
    text-align: center;
    padding: 2%;
}

.input-box {
    width: 300%;
    height: 2em;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.aboutme {
    margin: 5%;
    background-color: rgba(154, 149, 160, 0.150);
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.datashowleft {
    border: black 2px solid;
    border-right: 0px;
    background-color: white;
    font-family: monospace;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

}

.datashowright {
    border: black 2px solid;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    background-color: white;
}

.uimage {
    width: 80%;
    border-radius: 50%;
    margin: 5%;
}

.abbtn {
    width: 30% !important;
    text-align: center;
    margin: 5% !important;
    margin-inline: 35% !important;
    border-radius: 18px;
    background-color: rgb(67, 67, 82);
    color: white;
    border-color: rgb(67, 67, 82);
    text-decoration: none;
    text-align: center;
    padding: 2%;
    border: solid white 2px;

}

.abbtn:hover {
    background-color: white;
    color: rgb(67, 67, 82);
    zoom: 90%;
    border: dashed rgb(67, 67, 82) 2px;
}

#AniPic {
    border-radius: 50%;
    width: max-content;
    padding: 30px;
}
#userimage{
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .body {
        display: block;
    }

    .bodyleft {
        width: 90%;
        margin: 5%;
    }

    .bodyright {
        width: 90%;
        margin: 5%;
    }

    .input-box {
        width: 100%;
    }

    .abbtn {
        zoom: 40%;
    }

    .aboutme {
        display: block;
    }

    #AniPic {
        width: 98%;
        margin: 1%;
    }
}